
__pycache__/ShowImage.cpython-36.pyc
__pycache__/LicensePlateLabel.cpython-36.pyc
__pycache__/CreateImagePatches.cpython-36.pyc
__pycache__/CommonStruct.cpython-36.pyc
__pycache__/CommonMath.cpython-36.pyc
__pycache__/CNN_Module.cpython-36.pyc
.vscode/settings.json
.vscode/.ropeproject/config.py
ILBPDll/__pycache__/ILBPClass.cpython-36.pyc
ILBPDll/__pycache__/CudaComMat.cpython-36.pyc
ILBPDll/__pycache__/CommonMath.cpython-36.pyc
ILBPDll/__pycache__/__init__.cpython-36.pyc
TrainResult/IIIT5K_train_ILBPNet_g5_e10_weight.h5
*.h5
*.pyc
TrainHistory/DarkNet53_Chars74K_natural_50_0
TrainHistory/DarkNet53_ICDAR03_50_0
TrainHistory/DarkNet53_IIIT5K_50_0
TrainHistory/DarkNet53_MNIST_50_0
TrainHistory/DarkNet53_SHVT_50_0
TrainHistory/DenseNet169_Chars74K_natural_50_0
TrainHistory/DenseNet169_ICDAR03_50_0
TrainHistory/DenseNet169_IIIT5K_10_0
TrainHistory/DenseNet169_MNIST_50_0
TrainHistory/DenseNet169_SHVT_50_0
TrainHistory/DenseNet169_SHVT_50_1
TrainHistory/DenseNet169_SHVT_50_2
TrainHistory/DenseNet169_SHVT_50_3
TrainHistory/DenseNet169_SHVT_50_4
TrainHistory/ILBPNet_CIFAR-100_10_0
TrainHistory/ILBPNet_CIFAR-10_10_0
TrainHistory/ILBPNet_CIFAR-10_10_1
TrainHistory/ILBPNet_CIFAR-10_10_2
TrainHistory/ILBPNet_CIFAR-10_10_3
TrainHistory/ILBPNet_ICDAR03_0
TrainHistory/ILBPNet_IIIT5K_0
TrainHistory/ILBPNet_IIIT5K_1
TrainHistory/ILBPNet_IIIT5K_2
TrainHistory/ILBPNet_IIIT5K_3
TrainHistory/ILBPNet_IIIT5K_4
TrainHistory/ILBPNet_IIIT5K_5
TrainHistory/ILBPNet_IIIT5K_6
TrainHistory/ILBPNet_IIIT5K_7
TrainHistory/ILBPNet_IIIT5K_8
TrainHistory/ILBPNet_IIIT5K_9
TrainHistory/ILBPNet_MNIST_0
TrainHistory/ILBPNet_MNIST_1
TrainHistory/ILBPNet_MNIST_10_0
TrainHistory/ILBPNet_MNIST_10_1
TrainHistory/ILBPNet_MNIST_10_2
TrainHistory/ILBPNet_MNIST_10_3
TrainHistory/ILBPNet_MNIST_2
TrainHistory/ILBPNet_MNIST_3
TrainHistory/ILBPNet_MNIST_4
TrainHistory/ILBPNet_MNIST_5
TrainHistory/ILBPNet_MNIST_5_0
TrainHistory/ILBPNet_MNIST_5_1
TrainHistory/ILBPNet_MNIST_5_2
TrainHistory/ILBPNet_MNIST_5_3
TrainHistory/ILBPNet_MNIST_6
TrainHistory/ILBPNet_MNIST_7
TrainHistory/ILBPNet_MNIST_8
TrainHistory/ILBPNet_MNIST_9
TrainHistory/ILBPNet_SHVT_0
TrainHistory/ILBPNet_SHVT_10_0
TrainHistory/ILBPNet_SHVT_10_1
TrainHistory/ILBPNet_SHVT_10_2
TrainHistory/ILBPNet_SHVT_10_3
TrainHistory/ILBPNet_SHVT_10_4
TrainHistory/ILBPNet_SHVT_5_0
TrainHistory/ILBPNet_SHVT_5_1
TrainHistory/ILBPNet_SHVT_5_2
TrainHistory/ILBPNet_SHVT_5_3
TrainHistory/ILBPNet_SHVT_5_4
TrainHistory/Inceptionv3_Chars74K_natural_10_0
TrainHistory/Inceptionv3_Chars74K_natural_50_0
TrainHistory/Inceptionv3_CIFAR-100_10_0
TrainHistory/Inceptionv3_CIFAR-10_10_0
TrainHistory/Inceptionv3_CIFAR-10_10_1
TrainHistory/Inceptionv3_CIFAR-10_10_2
TrainHistory/Inceptionv3_CIFAR-10_10_3
TrainHistory/Inceptionv3_ICDAR03_0
TrainHistory/Inceptionv3_ICDAR03_100_0
TrainHistory/Inceptionv3_IIIT5K_0
TrainHistory/Inceptionv3_IIIT5K_20_0
TrainHistory/Inceptionv3_MNIST_10_0
TrainHistory/MobileNetv2_Chars74K_natural_50_0
TrainHistory/MobileNetv2_ICDAR03_50_0
TrainHistory/MobileNetv2_IIIT5K_50_0
TrainHistory/MobileNetv2_MNIST_50_0
TrainHistory/MobileNetv2_SHVT_50_0
TrainHistory/ResNet50_ICDAR03_50_0
TrainHistory/ResNet50_MNIST_50_0
TrainHistory/Xception_Chars74K_natural_10_0
TrainHistory/Xception_ICDAR03_50_0
TrainHistory/Xception_IIIT5K_0
TrainHistory/Xception_IIIT5K_1
TrainHistory/Xception_IIIT5K_2
TrainHistory/Xception_IIIT5K_3
TrainHistory/Xception_IIIT5K_4
TrainHistory/Xception_MNIST_10_0
TrainHistory/Xception_SHVT_10_0
__pycache__/LabelImage.cpython-36.pyc
__pycache__/LabelMgr.cpython-36.pyc
__pycache__/MyKeras.cpython-36.pyc
TrainHistory/DarkNet53_CHARS74K_natural_200_0
TrainHistory/DenseNet169_CHARS74K_natural_200_0
TrainHistory/ILBPNet_CHARS74K_natural_200_0
TrainHistory/ILBPNet_IIIT5K_1000_0
TrainHistory/ILBPNet_IIIT5K_50_0
TrainHistory/ILBPNet_MNIST_1000_0
TrainHistory/ILBPNet_SHVT_100_0
TrainHistory/ILBPNet_SHVT_200_0
TrainHistory/ILBPNet_SHVT_50_1
TrainHistory/ILBPNet_SHVT_50_2
TrainHistory/ILBPNet_SHVT_50_3
TrainHistory/ILBPNet_SHVT_50_4
TrainHistory/ILBPNet_SHVT_50_5
TrainHistory/ILBPNet_SHVT_50_6
TrainHistory/ILBPNet_SHVT_50_7
TrainHistory/Inceptionv3_CHARS74K_natural_200_0
TrainHistory/Inceptionv3_IIIT5K_200_0
TrainHistory/Inceptionv3_SHVT_200_0
TrainHistory/MobileNetv2_CHARS74K_natural_200_0
TrainHistory/MobileNetv2_IIIT5K_200_0
TrainHistory/MobileNetv2_SHVT_200_0
TrainHistory/MobileNetv2_SHVT_50_1
TrainHistory/MobileNetv2_SHVT_50_2
TrainHistory/MobileNetv2_SHVT_50_3
TrainHistory/MobileNetv2_SHVT_50_4
TrainHistory/MobileNetv2_SHVT_50_5
TrainHistory/MobileNetv2_SHVT_50_6
TrainHistory/MobileNetv2_SHVT_50_7
TrainHistory/ResNet50_CHARS74K_natural_200_0
TrainHistory/ShuffleNetv2_CHARS74K_natural_200_0
TrainHistory/ShuffleNetv2_SHVT_200_0
TrainHistory/ShuffleNetv2_SHVT_50_1
TrainHistory/ShuffleNetv2_SHVT_50_2
TrainHistory/ShuffleNetv2_SHVT_50_3
TrainHistory/ShuffleNetv2_SHVT_50_4
TrainHistory/ShuffleNetv2_SHVT_50_5
TrainHistory/ShuffleNetv2_SHVT_50_6
TrainHistory/ShuffleNetv2_SHVT_50_7
TrainHistory/Xception_Chars74K_natural_200_0
TrainHistory/Xception_Chars74K_natural_500_0
TrainHistory/Xception_SHVT_200_0
__pycache__/LabelImage.cpython-36.pyc
__pycache__/LabelMgr.cpython-36.pyc
__pycache__/MyKeras.cpython-36.pyc
